<% @title = capture do %>
  Products
<% end %>

<h1>Products</h1>
<p class="alert alert-info">This page uses layout products/_layout.html.erb.</p>
<div class="row-fluid product_row">
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
</div>
<div class="row-fluid product_row">
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
</div>
<div class="row-fluid product_row">
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
  <div class="span4 product">
    <img src="<%= lorem_image('150x150', :random_color => true) %>" />
    <dl>
      <dt><a href="detail.html"><%= lorem_words 4 %></a></dt>
      <dd><%= lorem_sentences 2 %></dd>
      <dd class="buynow"><a href="detail.html" class="btn btn-primary">View detail</a></dd>
    </dl>
  </div>
</div>